* {
  list-style: none;
  text-decoration: none;
  border-collapse: collapse;
  margin: 0px;
  padding: 0px;
  /* color: black; */
  font-family: 'Noto Sans', sans-serif;
}

.header {
  display: flex;
  width: 1890px;
  margin: auto;
  height: 200px;
  background-color: white;
}

.spot-menu li {
  float: left;
  /* padding-left: 20px; */
  padding-right: 20px;
}
.spot-menu {
  background-color: none;
  /* align-items: right; */
  white-space: nowrap;
  /* width: 476px;
  height: 116px; */
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 24px;
}

.nav-bar {
  display: flex;
  font-size: 27px;
  font-weight: bold;
  flex: 2;
  justify-content: space-around;
  margin-left: 120px;
}

.head-line {
  display: flex;
  justify-content: space-around;
  width: 100%;
  align-items: center;
  margin-bottom: 12px;
}
/* ... */

.newsletter-box {
  width: 175px;
  font-size: 20px;
  background-color: #dc9d00;
  color: #ffffff;
  padding: 5px 5px;
  font-weight: bold;
  text-align: center;
  /* position: absolute; */
  /* top: 0; */
  /* right: 0;  */
  /* margin-right: 240px; */
  /* margin-top: -24px; */
  /* z-index: 1000; / */
}

.sign-log-btn {
  display: flex;
  line-height: 330px;
  font-size: 25px;
  font-weight: bold;
  flex: 1;
  justify-content: end;
  gap: 24px;
}
.signup-btn {
  color: #91742d;
  white-space: nowrap;
  border: none;
  background-color: white;

  padding: 0px 1px;
  /* line-height: 330px; */
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}
.login-btn {
  color: #91742d;
  white-space: nowrap;
  border: none;
  background-color: white;

  padding: 0px 1px;
  line-height: 33px;
  font-size: 26px;
  font-weight: bold;
  cursor: pointer;
}

.custom-colour {
  color: #dc9d00;
}

.nav > li {
  margin-left: 170px;
}
.sign-log-btn {
  margin-left: 170px;
}
.sign-log-btn > li {
  margin-left: 20px;
  white-space: nowrap;
  color: #91742d;
}

.middle {
  /* background-image: url('support-image.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 460px; */
}

.bottom {
  width: 1800px;
  margin: auto;
  display: flex;
  /* height:470px; */
  justify-content: space-between;
}
.bottom > .part2 {
  padding: 20px;
}

.part1 {
  flex: 1;
  padding-top: 25px;
  padding-left: 80px;
  padding-right: 30px;
  width: 48%;
  height: 200px;
  display: flex;
  background-color: white;
  flex-direction: column;
  align-items: flex-start;
}
.about-title {
  border-bottom: 4px solid #dc9d00;
  padding-bottom: 3px;
  font-size: 36px;
  font-weight: bold;
  white-space: nowrap;
}

.welcome-firstline {
  padding-top: 3px;
  color: #5f4401;
  margin-bottom: 0.5em;
  font-size: 32px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

.text {
  font-size: 27px;
  color: #5f4401;
  line-height: 35px;
}

.sign-up-now {
  white-space: nowrap;
  margin-top: 15px;
  margin-left: 220px;
  font-size: 30px;
  color: #dc9e00;
  background-color: white;
  border: none;
  cursor: pointer;
  font-weight: bold;
  text-decoration: underline;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.15);
}
.sign-up-now:hover {
  color: rgb(30, 85, 30);
}

/* --------------------------------- */

.part2 {
  flex: 1;
  /* padding-top:25px;
  padding-left:80px; */
  width: 48%;
  margin: auto;
  /* height: 200px; */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: none;
}

.recent-item-title {
  border-bottom: 4px solid #dc9d00;
  padding-bottom: 3px;
  font-size: 36px;
  font-weight: bold;
  white-space: nowrap;
}
.items-container {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.item-card {
  border: 9px solid #dc9e00;
  padding: 5px;
  width: 390px;
  height: 290px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  position: relative;
  flex-grow: 1;
  margin-left: 65px;
  margin: 20px;
}

.offer-tag,
.location-tag {
  position: absolute;
}

.offer-tag {
  left: 3px;
  top: 3px;
  height: 35px;
  margin-top: 3px;
  width: 120px;
}

.location-tag {
  right: 16px;
  width: 170px;
  height: 47px;
  top: 1px;
}

.item-image {
  background-color: white;
  border: none;
  margin-bottom: 1px;
  padding-left: 21px;
  padding-top: 20px;
  margin: 20px 0;
  max-width: 430px;
  max-height: 160px;
  margin-top: 30px;
}
.twodays {
  font-size: 1.3em;
  text-align: right;
  color: rgb(77, 77, 77);
}

.item-name {
  font-size: 24px;
  margin: 5px 0;
  margin-left: 100px;
  overflow: hidden;
  margin-top: -10px;
  margin-left: 50px;
}

/* ////////////////////////////////////////////////////////////////// */

/* Modal overlay */
.modal {
  display: flex; /* Set to 'none' to hide it by default  -block*/
  position: fixed;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  width: 100%;
  height: 100%;
}

.hidden {
  display: none;
}

.modal-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  color: black;
  /* padding: 0.5em 1em; */
  position: relative; /* Needed for the absolute positioning of the logo and close button */
  background-image: url('top-modal.png');
  background-repeat: no-repeat;
  background-color: none; /* Header background */
  background-position: right center; /* 이미지를 오른쪽으로 정렬 */
  background-size: 1024px 244px;
}

/* Header style */

.modal-header__title {
  background-color: none; /* Header background */
  color: #dc9d00; /* Header text color */
  padding: 65px;
  flex: 1;
  text-align: center; /* Center the header text */
  font-size: 40px; /*40px*/
}

.modal-header {
  background-image: url('top-modal.png');
}

.modal-logo {
  width: 220px;
  height: 150px;
  padding-bottom: 40px;
  padding-left: 40px;
  position: relative;
}

/* Modal content box */
.modal-content {
  /* background-image: url('registration-background.jpg'); */
  background-color: rgb(251, 241, 217);
  transform: translateY(-5%);
  background-size: cover; /* Cover the entire modal */
  background-position: right; /* Center the background image */
  text-align: left;
  position: relative;
  top: 0px;
  margin: 5% auto; /* Adjust this as needed to center your modal */

  border-radius: 10px;
  width: 1002px;
  height: 1030px; /* Adjust width as needed */
  max-width: 95%; /* Ensures modal doesn't exceed the width of the screen */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  overflow: hidden; /* Hides any overflow, you might want 'auto' if content can be longer */
}

/* Close button at the top-right corner */
.close {
  color: black;
  position: absolute;
  padding: 0px;
  top: 5px;
  left: 920px;
  right: 17px;
  font-size: 55px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  background: none;
}

.close:hover,
.close:focus {
  cursor: pointer;
  color: #444;
  text-decoration: none;
}
fieldset {
  display: grid;
  grid-template-columns: 200px 1fr;
  grid-gap: 8px; /* This adds some space between the label and the input field */
  margin-bottom: 15px;
  border: none;
  padding: 1px 0;
  margin-bottom: 10px;
}

.field-title {
  font-size: 18px;
  position: relative;
  color: #333;
  margin-top: 10px;
  margin-bottom: -2px;
}

legend {
  font-size: 28px;
  color: #2d5818;
  padding: 5px 10px;
  border-radius: 5px;
  font-weight: bold;
  padding-top: 17px;
  margin-left: 3px;
  border-radius: 0px;
  /* ,..,, */
  border-bottom: 2px solid #2d5818; /* Add a line below the legend text */
  padding-bottom: 0.1em; /* Space between the text and the line */
  margin-bottom: 0.2em; /* Space after the line before inputs start */
  width: 100%;
}
label {
  margin-left: 25px;
  margin-top: 12px;
  font-size: 23px;
  padding-right: 10px;
  text-align: left;
  white-space: nowrap;
}

/* Form field styles */

input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'] {
  margin-left: 25px;
  width: 580px; /* Make input fields take up 100% of .modal-content's width */
  padding: 12px; /* Adequate padding for inputs */
  margin: 8px 0; /* Spacing between inputs */
  border: 1px solid #ccc; /* Border around inputs */
  border-radius: 4px; /* Slightly round the corners of the inputs */
  border-top: none; /* Remove top border if stacked */
  margin-left: 25px;
  margin-bottom: 8px;
  border-color: green;

  outline: none;
}

input[type='text']:focus,
input[type='password']:focus,
input[type='email']:focus,
input[type='tel']:focus {
  font-size: 19px; /* Set the desired font size */
}

input::placeholder {
  font-size: 1.3em;
  color: #5e5c5c;
}
#registration-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 10px; */
}

.modal > button {
  border: none;
}
/* Button styles */

.custom-background-colour {
  background-color: #dc9e00;
}

.submit {
  width: 130px;
  font-size: 22px;
  font-weight: bold;
  color: black; /* Button text color */
  padding: 15px 15px; /* Padding inside the button */
  margin: 2px 420px; /* Space above and below the button */
  border: none; /* Remove default border */
  cursor: pointer; /* Cursor indicates the button is clickable */
}

button:hover {
  opacity: 0.9; /* Slight fade effect on hover */
}

